.clear {
    clear: both;
}
.bold {
    font-weight: bold;
}
.left {
    float: left;
}
.relative {
    position: relative;
}
.right {
    float: right;
}
.center {
    text-align: center;
}
.italic {
    font-style: italic;
}
.hide,.hide_inspiration {
    display: none;
}
.clickable,.link_to_fb,.link_to_twtr,.fb_login {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
}
a img {
    border: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-weight: normal;
    color: #555;
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    background: white;
    padding: 0;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 100%;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
#menu_bar {
    position: fixed; 
    top: 0; 
    height: 38px; 
    padding-top: 2px; 
    background: #8AD2CF; 
    width: 100%;
    z-index: 100;
}
#menu_toggle {
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-left: 2px;
}
#side_bar {
    display: none;
    position: fixed;
    top: 38px;
    left: 0;
    width: 225px;
    min-height: 200px;
    background: rgba(139,210,206,0.9);
    z-index: 100;
}
.mobi_nav_link {
    font-size: 24px;
    margin: 10px 3px;
}
.mobi_nav_link, .mobi_nav_link a {
    color: white;
}
#page_content {
    margin-top: 40px;
    width: 100%;
}
#logo_top {
    text-align: center;
    position: relative;
    left: -20px;
}
#footer {
    clear: both;
    width: 100%;
    background: rgba(139,210,206,0.3);
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}
.ui-widget {
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
.ui-widget-header {
    border: none;
    background: none;
    color: #333333;
    font-weight: bold;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #333333;
    font-size: 16px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: white;
    font-weight: bold;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
    background: white;
    font-weight: bold;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .1em 1em;
    text-decoration: none;
    outline: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: pointer;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr,
.ui-corner-br, .ui-corner-bl, .ui-corner-bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.ui-widget-content {
    border: none;
    background: white;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-tabs .ui-tabs-panel {
    padding: 5px;
}
.ui-tabs .ui-tabs-nav li {
    margin: 0;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}
.ui-menu {
    height: 250px;
    border: 1px solid black;
    border-top: none;
    overflow: auto;
}
.like_link {
    cursor: pointer;
    color: #3392e4;
}
.hp_link {
    background: #8AD2CF;
    min-height: 70px;
    padding: 5px;
    margin-bottom: 3px;
    text-align: left;
}
.hp_link_img {
    height: 60px;
}
.hp_link_heading {
    font-size: 20px;
}
.hp_link_desc {
    color: black;
}
.grid {
    width:188px;
    min-height:100px;
    padding-bottom: 10px;
    background:#fff;
    margin:8px;
    font-size:12px;
    float:left;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
.grid strong {
    border-bottom:1px solid #ccc;
    margin:10px 0;
    display:block;
    padding:0 0 5px;
    font-size:17px;
}
.grid .meta{
    text-align:left;
    color: #B8B8B8;
    text-transform: lowercase;
    margin: 0 10px;
    float: left;
    font-family: 'Cantarell', sans-serif;
}
.imgholder {
    position: relative;
}
.imgholder_hover {
    position: absolute;
    z-index: 1;
    background: rgba(255, 125, 132 ,0.75);
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}
.grid .imgholder img{
    max-width:100%;
    display:block;
}
.ins_sharing_options {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 45%;
    color: #808080;
    line-height: 33px;
    float: right;
    background: #fff2f2;
    text-align: right;
    padding-right: 6%;
    height: 33px;
    padding-left: 2%;
}
.ins_share_text {
    margin-left: 10%; 
    font-size: 15px;
}
.ins_info {
    height: 20px;
    margin-top: 3px;
}
.ins_quick_look {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 30px;
    color: white;
    width: 150px;
    margin: auto;
    text-align: center;
    background-image: url('STATIC_URL/images/icons/quick_look.png');
    background-size: 50px 50px;
    padding-top: 50px;
    margin-top: 25px;
    background-repeat: no-repeat;
    background-position: center top;
}
.inspiration_popup_image_container {
    height: 430px;
    margin-right: 10px;
    float: left;
    width: 600px;
    text-align: center;
    background: rgba(139,210,206,0.3);
}
.inspiration_popup_image {
    max-height: 450px;
    border: 1px solid white;
}
#inspiration_popup_comments {
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 260px;
    margin-top: 5px;
}
.comment {
    background: #eee; 
    height: 33px;
    margin: 2px 5px;
    overflow: hidden;
    padding: 0 3px;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Cantarell', sans-serif;
}
.commentator {
    margin-right: 3px;
    color: #0083FC;
    font-size: 12px;
}
.favorite, .favorited, .viewed, .fb_share_inspiration,.inspiration_commented,.pin_share_inspiration {
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-image: url('STATIC_URL/images/icons/heartBlank_v1.png');
    height: 14px;
    margin-right: 6px;
    margin-left: 10px;
    padding-left: 15px;
    font-size: 12px;
    float: right;
    color: #B8B8B8;
}
.favorited {
    background-image: url('STATIC_URL/images/icons/heartFilled_v1.png');
}
.inspiration_commented {
    background-image: url('STATIC_URL/images/icons/comment_v1.jpg');
}
.viewed {
    background-image: url('STATIC_URL/images/icons/view_v2.png');
}
.fb_share_inspiration, .pin_share_inspiration {
    height: 26px;
    background-position: -78px 0;
    padding-left: 26px;
    position: relative;
    margin-right: 5px;
    float: none;
    display: inline;
    background-image: url('STATIC_URL/images/icons/social_icons_v1.png');
    background-size: initial;
    margin-left: 0;
    font-size: 20px;
}
.fb_share_inspiration {
    background-position: 0 0;
    height: 30px;
    padding-left: 40%;
    float: left;
    background-image: url('STATIC_URL/images/icons/fb_round_grey.png');
}
.pin_share_inspiration {
    margin-right: 0;
    background-position: -286px 0;
}
.like_option {
    width: 45%;
    margin-left: 0;
    float: left;
    background: #fff2f2;
    height: 33px;
    font-size: 15px;
    line-height: 33px;
    padding-left: 16%;
}
.like_option.favorite, .like_option.favorited {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('STATIC_URL/images/icons/fav_grey.png');
}
.like_option.favorited {
    background-image: url('STATIC_URL/images/icons/fav_coral.png');
}
.experiment, .contest {
    display: none;
}
.ui-tooltip, .arrow:after {
    background: rgba(255, 125, 132 ,0.75);
}
.ui-tooltip {
    padding: 10px 20px;
    color: #111111;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 0 1px #dddddd;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
.light_blue_button {
    background: #8AD2CF;
}
.light_pink_button {
    background: #FF7D84;
}
.fb_share_button,.fb_mystery_gift {
    background: #435FAC;
    cursor: pointer;
}
.twtr_share_button {
    cursor: pointer;
}
.goudy_heading,.goudy_shadowless {
    font-size: 50px;
    letter-spacing: 5px;
}
@font-face
{
    font-family: 'Chunkfive';
    src: url(STATIC_URL/fonts/chunkfive.woff);
}
@font-face
{
    font-family: 'WebRupee';
    src: url(STATIC_URL/fonts/WebRupee.V2.0.woff);
}
.WebRupee{font-family: 'WebRupee';}
.goudy_text,.goudy_heading,.goudy_shadowless {
    font-family: 'Goudy Bookletter 1911', serif;
}
.lucida_text {
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
.chunkfive_text {
    font-family: 'Chunkfive', sans-serif;
}
.light_blue_circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(139,210,206,0.7);
    border: 1px solid white;
    top: 5px;
    margin: auto;
    margin-bottom: 5px;
}
.outside_circle {
    position: relative;
    margin: auto;
    background: rgba(139,210,206,0.3);
    min-height: 66px;
    width: 98%;
    margin-bottom: 10px;
}
.inside_circle {
    position: relative;
    top: -20px;
}
.inner_circle_heading {
    font-size: 20px;
    line-height: 0;
    color: white;
}
#uploader_name {
    font-size: 20px;
    font-style: italic;
}
#uploaded_at {
    font-size: 16px;
}
.rejectImage {
    float: right;
}
#inspirationsLoading {
    display: none;
    position: fixed;
    left: 49%;
    bottom: 100px;
}
.fb_invite_friends, .yahoo_invite_friends, .gmail_invite_friends {
    cursor: pointer;
}
#fb_friends,.contacts_list {
    height: 250px;
    overflow: auto;
    border: 1px solid #aaa;
    margin: 1px;
}
.fb_contact_info,.contact_info {
    float: left;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    width: 195px;
}
.contact_info {
    width: 220px;
    height: 50px;
}
.fb_contact_image {
    float: left;
    margin-right: 5px;
}
.fb_checkbox,.contacts_selected_checkbox {
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}
.contacts_selected_checkbox {
    margin-right: 2px;
    margin-top: 13px;
}
.fb_contacts_selector_name,.contacts_selector_name,.contacts_selector_email {
    margin-top: 10px;
    height: 20px;
    overflow: hidden;
}
.contacts_selector_name,.contacts_selector_email {
    margin-top: 4px;
}
.contacts_master {
    text-align: left;
    margin-left: 5px;
}
.contacts_list {
    text-align: left;
}
#fb_invite_progress_bar_bg {
    height: 20px;
    background: #F7A192;
}
#top_header_wrapper {
    width: 100%;
    background: #8AD2CF;
    position: fixed;
    height: 54px;
    box-shadow: 0 3px 3px rgba(34,25,25,0.4);
    z-index: 50;
}
#top_header{
    width: 1000px;
    margin: auto;
}
#promo_banner_wrapper {
    height: 232px;
    background: rgba(139,210,206,0.3);
    padding-top: 75px;
    margin-bottom: 2px;
}
.promo_banner {
    width: 1000px;
    margin: auto;
}
#nav_bar_wrapper {
    height: 38px;
    background: #BDE5E3;
}
#nav_bar {
    width: 1000px;
    margin: auto;
}
.nav_bar_link,.top_header_link {
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 38px;
    float: left;
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
}
.top_header_link {
    line-height: 54px;
}
.nav_bar_link:hover, .top_header_link:hover {
}
.nav_bar_link.link_active, .top_header_link.link_active {
    background: #8AD1CD;
}
.nav_bar_link a, .top_header_link a {
    color: white;
}
.nav_bar_link_details {
    height: 100px;
    background: #BDE5E3;
    display: none;
    width: 400px;
    left: -15px;
    top: 38px;
    position: absolute;
}
.nav_bar_link_details img {
    float: right;
    border: 5px solid white;
    margin: 5px;
    height: 90px;
    background: white;
}
.nav_bar_heading {
    margin-left: 20px;
}
.nav_bar_text {
    color: black;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
    margin-left: 20px;
    font-family: 'Goudy Bookletter 1911', serif;
}
.not_logged_in,.logged_in {
    display: none;
}
.sub_header {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #8AD1CD;
}
.page_header {
    font-family: 'Chunkfive', sans-serif;
    color: #FF7D84;
    padding-top: 20px;
}
#magic_region {
    height: 300px;
    background: white 50% 50% no-repeat scroll;
    background-image: url('STATIC_URL/images/ring1.jpg');
}
#allInspirations {
    position: relative;
}
.contacts_selected_info {
    background: rgba(139,210,206,0.3);
    color: black;
    font-size: 14px;
    height: 28px;
    text-align: right;
    padding-top: 4px;
    padding-right: 2px;
}
.contacts_heading {
    color: black;
    height: 28px;
    padding-top: 5px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 3px;
}
.hp_cross_promo,.cross_promo,.ins_cross_promo {
    float: left;
    width: 328px;
    margin: 2px;
    border: 5px solid rgba(139,210,206,0.3);
    text-align: center;
}
.ins_cross_promo {
    border: none;
    margin: 8px;
}
.hp_cross_promo_wrapper,.cross_promo_wrapper {
    background: rgba(139,210,206,0.3);
    padding-bottom: 15px;
}
.hp_cross_promo_head,.cross_promo_head,.ins_cross_promo_head {
    font-size: 28px;
    color: #689D9A;
    padding: 10px 0;
}
.hp_cross_promo_desc,.cross_promo_desc {
    color: #8E999F;
    padding-bottom: 15px;
    font-size: 16px;
}
/* Shop Page */
.product_image {
    width: 400px;
    max-width: 100%;
}
.product_thumbnail {
    width: 70px;
    max-width: 20%;
}
.customize_heading {
    text-align: center;
    background: #FFEAEB;
    clear: both;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}
.selectricWrapper { position: relative; margin: 0 0 10px; width: 140px; cursor: pointer; }
.selectricDisabled { filter: alpha(opacity=50); opacity: 0.5; cursor: default; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.selectricOpen { z-index: 9999; }
.selectricHideSelect { position: relative; overflow: hidden; }
.selectricHideSelect select { position: absolute; left: -100%; } 
.selectric { border: 1px solid #C4E8E6; background: #F8F8F8; position: relative; border-radius: 0px; }
.selectricOpen .selectric { border-color: #abcfcd; background: #dfdfdf; z-index: 9999; }
.selectric .label { 
    height: 30px; display: block; white-space: nowrap; overflow: hidden; 
    margin: 0 30px 0 0; padding: 6px 6px; font-size: 12px; line-height: 20px; 
    color: #444444; 
}
.selectric .button { position: absolute; right: 0; top: 0; color: #C4E8E6; text-align: center; font: normal 18px/30px sans-serif; width: 30px; height: 30px; line-height: 30px; background: none; border-radius: 0px; }
.selectricHover .selectric { border-color: #abcfcd; }
.selectricHover .selectric .button { color: #abcfcd; }
.selectricTempShow { position: absolute !important; visibility: hidden !important; display: block !important; }
/* Items box */
.selectricItems ul,
.selectricItems li { list-style: none; padding: 0; margin: 0; min-height: 20px; line-height: 20px; font-size: 12px; }
.selectricItems { display: none; position: absolute; overflow: auto; top: 100%; left: 0; background: #F9F9F9; border: 1px solid #CCC; z-index: 9998; box-shadow: 0 0 10px -6px; }
.selectricOpen .selectricItems { display: block; }
.selectricItems li { padding: 5px; cursor: pointer; display: block; border-bottom: 1px solid #EEE; color: #666; border-top: 1px solid #FFF; }
.selectricItems li.selected { background: #EFEFEF; color: #444; border-top-color: #E0E0E0; }
.selectricItems li:hover { background: #F0F0F0; color: #444; }

.customize_metal_option,.customize_stone_option {
    position: relative;
}
.selected_stone {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: 0;
    border: 2px solid #FF979D;
    display: none;
}
.selected_metal {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px solid #FF979D;
    display: none;
    top: 1px;
}
.choices_toggle {
    float: right;
    position: relative;
    top: 3px;
    cursor: pointer;
}
.left_triangle {
    border-style: solid;
    border-width: 10px 12px 10px 0;
    border-color: transparent #FF979D transparent transparent;
}
.down_triangle {
    border-style: solid;
    border-width: 12px 10px 0 10px;
    border-color: #FF979D transparent transparent transparent;
}
.choices {
    display: none;
    min-height: 60px;
    width: 100%;
}
.customize_black_diamond, .customize_blue_sapphire, .customize_diamond, 
.customize_emerald, .customize_gold_14, .customize_gold_18, 
.customize_pink_sapphire, .customize_platinum_14, .customize_platinum_18, 
.customize_rose_14, .customize_rose_18, .customize_ruby, .customize_silver, 
.customize_yellow_sapphire
{
    background: url('STATIC_URL/images/icons/customize_icons_v1.png') no-repeat;
    float: left;
    cursor: pointer;
}
.customize_black_diamond{
    background-position: -100px 0;
    width: 36px;
    height: 36px;
}
.customize_blue_sapphire{
    background-position: -200px 0;
    width: 36px;
    height: 36px;
}
.customize_diamond{
    background-position: -300px 0;
    width: 36px;
    height: 36px;
}

.customize_emerald{
    background-position: -250px 0;
    width: 36px;
    height: 36px;
}

.customize_gold_14{
    background-position: -300px -50px ;
    width: 36px;
    height: 36px;
}

.customize_gold_18{
    background-position: -250px -50px ;
    width: 36px;
    height: 36px;
}

.customize_pink_sapphire{
    background-position: -150px 0;
    width: 36px;
    height: 36px;
}

.customize_platinum_14{
    background-position: -450px -50px ;
    width: 36px;
    height: 36px;
}

.customize_platinum_18{
    background-position: -400px -50px ;
    width: 36px;
    height: 36px;
}

.customize_rose_14{
    background-position: -150px -50px ;
    width: 36px;
    height: 36px;
}

.customize_rose_18{
    background-position: -100px -50px ;
    width: 36px;
    height: 36px;
}

.customize_ruby{
    background-position: -50px 0;
    width: 36px;
    height: 36px;
}

.customize_silver{
    background-position: 0 -50px ;
    width: 36px;
    height: 36px;
}

.customize_yellow_sapphire{
    background-position: 0 0;
    width: 36px;
    height: 36px;
}
