<div id="forgot_password_popup" style="text-align: center;">
    <div style="margin-bottom: 10px; margin-top: 10px;">
        <img src="{{.Config.STATIC_URL}}/images/logo_v2.png" alt="Jools" height="70">
    </div>
    <div class="error_message_wrapper" style="display:none; width: 100%;">
        <div class="error_message">
        </div>
    </div>
    <div id="forgot_password_instructions">
        <div style="font-style: italic; margin-bottom: 10px;">
            Forgot your password? Let us help you
        </div>
        <div>
            Email: <input id="forgot_password_email" type="email" name="login_email" 
                          placeholder="Enter your email address"
                          style="width: 240px; margin-bottom: 10px;">
            <button id="send_password_instructions" class="light_pink_button">
                Send me the link
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function showMessage(msg) {
         $('#forgot_password_popup > .error_message_wrapper > .error_message').text(msg);
         $('#forgot_password_popup > .error_message_wrapper').show();
    }
    function passwordUpdateResult(response) {
        if(response.Success == false) {
            showMessage(response.Data.message);
        } else {
            $('#forgot_password_instructions').text(response.Data.message);
        }
    }
    $('#send_password_instructions').click(function() {
            var email = $('#forgot_password_email').val();
            if (email == '') {
                showMessage('Please enter a valid email address');
                return;
            }
            $.ajax({
                type: "POST",
                url: '{{.Config.BASE_URL}}/user/markForPasswordUpdate',
                data: {login_email: email},
                success: passwordUpdateResult,
                dataType: 'json'
            });
        });
    utilObj.styleInputsAndButtons();
</script>