<div style="text-align: center; color: black;">
    <div style="font-size: 40px; letter-spacing: 5px; margin: 15px;">
        Congratulations!
    </div>
    <div>
        <div style="font-size: 25px; padding: 15px 0px; letter-spacing: 3px;">
            You now have <span class="WebRupee">Rs.</span>{{.Data.credit}} to spend!
        </div>
        <div style="font-size: 20px; padding: 0 50px; margin-bottom: 20px;">
            Earn
            <span style="font-weight: bold"><span class="WebRupee">Rs.</span>5000</span>
            by inviting your friends.
        </div>
        <button class="fb_invite_friends light_pink_button">Get Going!</button>
    </div>
</div>
<script type='text/javascript'>
    utilObj.styleButtons();
    $('.fb_invite_friends').unbind('click').click(function() {
        facebookWrapperObj.inviteFriends("congrats_pop");
        utilObj.closePopup();
    });
</script>
