<div style="text-align: center; color: #555;">
    <h1 class="page_header">
        Welcome to Jools
    </h1>
    <div style="margin: 10px;">
        <p style="font-size: 20px; padding: 10px 0;" class="goudy_text">
            You've just received <span style="color: black;" class="lucida_text"><span class="WebRupee">Rs.</span>500</span>
                in cash credits as a welcome gift. Connect using Facebook to claim the credits!
        </p>
        <img id="connect_to_fb" src="{{.Config.STATIC_URL}}/images/icons/connect_fb.png"
             style="cursor: pointer;" width='220'>
        <div id="no_thanks_connect" class="like_link"
             style="margin-top: 20px; font-size: 14px;">
             No, Thanks
        </div>
    </div>
</div>
<script type='text/javascript'>
window.onload = function() {
$('#no_thanks_connect').click(function() {
    userObj.signupCompletionReqd();
});
$('#connect_to_fb').click(function() {
    facebookWrapperObj.getFBPermissions(fbConnectDone);
    trackObj.count("action", "ask_fb_connect", "click", "connect");
});
};
function fbConnectDone() {
    userObj.showInitialCongrats();
}
</script>
