<div style="text-align: center; color: black;">
    <div style="margin: 10px 20px; padding-bottom: 20px;">
        <div style="font-size: 30px; padding: 25px 0;">
            Change your password
        </div>
        <div class="error_message_wrapper" style="display:none; width: 100%;">
            <div class="error_message">
            </div>
        </div>
        <div id="change_password_instructions">
            <div>
                <input id="password" type="password" name="password" 
                       placeholder="Choose your password" 
                       style="width: 290px;margin-bottom: 5px;">
            </div>
            <div style="margin-bottom: 15px;">
                <input id="verifyPassword" type="password" name="verifyPassword" 
                       placeholder="Retype your password" 
                       style="width: 290px;margin-bottom: 5px;">
            </div>
            <button id="change_password_submit" class="light_pink_button">
                Change Password
            </button>
        </div>
    </div>
</div>
<script type='text/javascript'>
window.onload = function() {
    function passwordChangeResult(res) {
        if (res.Success == false) {
            $('.error_message').text(res.Data.message);
            $('.error_message_wrapper').show();
        } else {
            $('#change_password_instructions').text(res.Data.message);
        }
    }
    $('#change_password_submit').click(function() {
        var pwd = $('#password').val();
        var verifyPwd = $('#verifyPassword').val();
        if (pwd == '' || verifyPwd == '') {
            $('.error_message').text('Please enter valid non-empty values');
            $('.error_message_wrapper').show();
            return;
        }
        if (pwd != verifyPwd) {
            $('.error_message').text('The two passwords do not match');
            $('.error_message_wrapper').show();
            return;
        }
        $.ajax({
            type: "POST",
            url: configObj.BASE_URL + '/user/changePassword',
            data: {'password': pwd, 'verifyPassword': verifyPwd},
            success: passwordChangeResult,
            dataType: 'json'
        });
    });
};
</script>
