<div style="margin: 20px 0; text-align: center; color: #555;">
    <h1 class="page_header">
        Invite & Earn
    </h1>
    <h2 class="sub_header" style="color: #555;">
        Every time a friend joins Jools,
        <span style="color: black;">
            You get 
            <span class="lucida_text"><span class="WebRupee">Rs.</span>500</span>. They get 
            <span class="lucida_text"><span class="WebRupee">Rs.</span>500</span>.
        </span>
    </h2>
    <h3 class="goudy_text">
        You can claim up to 
        <span class="lucida_text" style="color: black;"><span class="WebRupee">Rs.</span>5000</span>
        in cash credits by inviting your friends to Jools.
    </h3>
</div>
<img src="{{.Config.STATIC_URL}}/images/icons/facebook_invite.png" width="220"
     class="fb_invite_friends" style="display: block; margin: auto;margin-bottom: 20px;">
<img src="{{.Config.STATIC_URL}}/images/icons/gmail_invite.png" width="220"
     class="gmail_invite_friends" style="display: block; margin: auto;margin-bottom: 20px;">
<img src="{{.Config.STATIC_URL}}/images/icons/yahoo_invite.png" width="220"
     class="yahoo_invite_friends" style="display: block; margin: auto;margin-bottom: 20px;">
<div style="text-align: center;">
    <h1 class="page_header">
        How it works
    </h1>
    <div class='outside_circle'>
        <div class='light_blue_circle'></div>
        <div class='inside_circle'>
            <div class='inner_circle_heading'>
                1
            </div>
        </div>
        <div class='goudy_text' style="font-size: 24px; margin-top: 5px;">
            Invite your friends to Jools
        </div>
    </div>
    <div class='outside_circle'>
        <div class='light_blue_circle'></div>
        <div class='inside_circle'>
            <div class='inner_circle_heading'>
                2
            </div>
        </div>
        <div class='goudy_text' style="font-size: 24px; margin-top: 5px;">
            Your friends sign up
        </div>
    </div>
    <div class='outside_circle'>
        <div class='light_blue_circle'></div>
        <div class='inside_circle'>
            <div class='inner_circle_heading'>
                3
            </div>
        </div>
        <div class='goudy_text' style="font-size: 24px; margin-top: 5px;">
            You get 
            <span class="lucida_text"><span class="WebRupee">Rs.</span>500</span>. They get 
            <span class="lucida_text"><span class="WebRupee">Rs.</span>500</span>.
        </div>
    </div>
</div>
