<div id="footer">
    <div class="goudy_text" style="font-size: 20px;">
        Stay in touch!
    </div>
    <div style="margin: 5px;">
        <span style="margin: 10px;">
            <img class="link_to_fb" src="{{.Config.STATIC_URL}}/images/icons/fb_round.png" height="25">
        </span>
        <span style="margin-right: 10px;">
            <img class="link_to_twtr" src="{{.Config.STATIC_URL}}/images/icons/twtr_round.png" height="25">
        </span>
        <span style="margin-right: 10px;">
            <a href="mailto:team@jools.in?subject=Comments/Questions&body=Hello Folks at Jools,">
                <img src="{{.Config.STATIC_URL}}/images/icons/mail.png" height="25">
            </a>
        </span>
    </div>
    <p>
        © 2014 All rights reserved
    </p> 
</div>