<div id="forgot_password_instructions" style="text-align: center; margin-bottom: 10px;">
    <div class="error_message_wrapper" style="display:none; width: 220px;">
        <div class="error_message">
        </div>
    </div>
    <h2 style="margin-bottom: 10px;" class="goudy_text">
        Forgot your password?
    </h2>
    <p class="goudy_text" style="font-size: 18px;">
        No worries, just submit your email here and we'll send you the instructions to reset it.
    </p>
    <div style="margin-top: 10px;">
        <input id="forgot_password_email" type="email" name="login_email" 
               placeholder="Enter your email address"
               style="width: 220px; margin-bottom: 20px;">
        <button id="send_password_instructions" class="light_pink_button"
                style="width: 220px;">
            Send me the link
        </button>
    </div>
</div>
<script type="text/javascript">
window.onload = function() {
    function showMessage(msg) {
         $('.error_message_wrapper > .error_message').text(msg);
         $('.error_message_wrapper').show();
    }
    function passwordUpdateResult(response) {
        if(response.Success == false) {
            showMessage(response.Data.message);
        } else {
            $('#forgot_password_instructions').text(response.Data.message);
        }
    }
    $('#send_password_instructions').click(function() {
            var email = $('#forgot_password_email').val();
            if (email == '') {
                showMessage('Please enter a valid email address');
                return;
            }
            $.ajax({
                type: "POST",
                url: '{{.Config.BASE_URL}}/user/markForPasswordUpdate',
                data: {login_email: email},
                success: passwordUpdateResult,
                dataType: 'json'
            });
        });
};
</script>
