<div id="refine_results" class="left cantarell_text"
     style="width: 20%;">
    <div style="font-size: 16px; color: #404040; letter-spacing: 0; margin-top: 10px; margin-bottom: 70px;">
        <span class="upper">Your selection</span>
        <div class="selected_refinements">
        </div>
    </div>
    <div class="upper" style="font-size: 16px; color: #404040; letter-spacing: 0; margin-top: 10px;">
        Refine your results
    </div>
    <div class="refine_heading">
        Type
    </div>
    <div class="refine_options">
        <div class="refine_text_option refine_result like_link" data-name="Rings"
             data-type1="Category" data-choice1="1">
            Rings
        </div>
        <div class="refine_text_option refine_result like_link" data-name="Pendants"
             data-type1="Category" data-choice1="3">
            Pendants
        </div>
        <div class="refine_text_option refine_result like_link" data-name="Earrings"
             data-type1="Category" data-choice1="5">
            Earrings
        </div>

    </div>
    <div class="refine_heading">
        Gemstone
    </div>
    <div class="refine_options" style="min-height: 85px;">
        <div class="customize_diamond refine_result" data-name="Diamond"
             data-type1="Gemstone" data-choice1="0">
        </div>
        <div class="customize_pink_sapphire refine_result" data-name="Pink Sapphire"
             data-type1="Gemstone" data-choice1="4">
        </div>
        <div class="customize_yellow_sapphire refine_result" data-name="Yellow Sapphire"
             data-type1="Gemstone" data-choice1="5">
        </div>
        <div class="customize_blue_sapphire refine_result" data-name="Blue Sapphire"
             data-type1="Gemstone" data-choice1="6">
        </div>
        <div class="customize_emerald refine_result" data-name="Emerald"
             data-type1="Gemstone" data-choice1="2">
        </div>
        <div class="customize_ruby refine_result" data-name="Ruby"
             data-type1="Gemstone" data-choice1="3">
        </div>
        <div class="customize_black_diamond refine_result" data-name="Black Diamond"
             data-type1="Gemstone"  data-choice1="1">
        </div>
    </div>
    <div class="refine_heading">
        Precious Metal
    </div>
    <div class="refine_options" style="min-height: 85px;">
        <div class="metal_primary_1_1 customize_metal_option refine_result customize_gold_18"
             data-name="18K Yellow Gold"
             data-type1="PrimaryMetal" data-choice1="1" data-type2="PrimaryMetalColor" 
             data-choice2="1">
            <div class="selected_metal"></div>
        </div>
        <div class="metal_primary_2_1 customize_metal_option refine_result customize_gold_14"
             data-name="14K Yellow Gold"
             data-type1="PrimaryMetal" data-choice1="2" data-type2="PrimaryMetalColor" 
             data-choice2="1">
            <div class="selected_metal"></div>
        </div>
        <div class="metal_primary_1_0 customize_metal_option refine_result customize_white_gold_18"
             data-name="18K White Gold"
             data-type1="PrimaryMetal" data-choice1="1" data-type2="PrimaryMetalColor" 
             data-choice2="0">
            <div class="selected_metal"></div>
        </div>
        <div class="metal_primary_2_0 customize_metal_option refine_result customize_white_gold_14"
             data-name="14K White Gold"
             data-type1="PrimaryMetal" data-choice1="2" data-type2="PrimaryMetalColor" 
             data-choice2="0">
            <div class="selected_metal"></div>
        </div>
        <div class="metal_primary_1_2 customize_metal_option refine_result customize_rose_18"
             data-name="18K Rose Gold"
             data-type1="PrimaryMetal" data-choice1="1" data-type2="PrimaryMetalColor" 
             data-choice2="2">
            <div class="selected_metal"></div>
        </div>
        <div class="metal_primary_2_2 customize_metal_option refine_result customize_rose_14"
             data-name="14K Rose Gold"
             data-type1="PrimaryMetal" data-choice1="2" data-type2="PrimaryMetalColor" 
             data-choice2="2">
            <div class="selected_metal"></div>
        </div>
        <div class="metal_primary_3_0 customize_metal_option refine_result customize_silver"
             data-name="Silver"
             data-type1="PrimaryMetal" data-choice1="3" data-type2="PrimaryMetalColor" 
             data-choice2="0">
            <div class="selected_metal"></div>
        </div>
        <div class="metal_primary_name metal_name cantarell_text">
        </div>
    </div>
    <div class="refine_heading">
        Price
    </div>
    <div class="refine_options">
        <div class="refine_text_option refine_result like_link" 
             data-name="Price < Rs.5000"
             data-type1="PriceMin" data-choice1="0" data-type2="PriceMax" data-choice2="5000">
            Under <span class="WebRupee">Rs.</span>5000
        </div>
        <div class="refine_text_option refine_result like_link"
             data-name="Price - Rs.5000 to Rs.10000"
             data-type1="PriceMin" data-choice1="5000" data-type2="PriceMax" data-choice2="10000">
            <span class="WebRupee">Rs.</span>5000 - <span class="WebRupee">Rs.</span>10000
        </div>
        <div class="refine_text_option refine_result like_link" 
             data-name="Price - Rs.10000 to Rs.20000"
             data-type1="PriceMin" data-choice1="10000" data-type2="PriceMax" data-choice2="20000">
            <span class="WebRupee">Rs.</span>10000 - <span class="WebRupee">Rs.</span>20000
        </div>
        <div class="refine_text_option refine_result like_link" 
             data-name="Price - Rs.20000 to Rs.50000"
             data-type1="PriceMin" data-choice1="20000" data-type2="PriceMax" data-choice2="50000">
            <span class="WebRupee">Rs.</span>20000 - <span class="WebRupee">Rs.</span>50000
        </div>
        <div class="refine_text_option refine_result like_link" 
             data-name="Price > Rs.50000"
             data-type1="PriceMin" data-choice1="50000" data-type2="PriceMax" data-choice2="-1">
            Over <span class="WebRupee">Rs.</span>50000
        </div>
    </div>
</div>
<div class="right cantarell_text" style="width:80%;">
    <div class="refine_filters_text">
        Jewellery
    </div>
    <div class="product_list_header left">
        <span class="num_products_found"></span> designs found.
    </div>
    <div class="left" style="margin-left:20px;">
        Sort By: 
    </div>
    <div class="lucida_text left" style="margin-left: 10px;">
        <select class="sorting_options">
            <option value="0">Latest Arrivals</option>
            <option value="1">Price - high to low</option>
            <option value="2">Price - low to high</option>
        </select>
    </div>
    <div class="product_list clear"></div>
</div>
<img class="loading" src="{{.Config.STATIC_URL}}/images/icons/loading_v1.gif" 
    alt="" height="30">
<script type="text/javascript">
    var productListObj = null;
    var afterInit = function() {
        productListObj = new ProductList({{.Data.productList}}, {{.Data.productRefinement}});
        productListObj.show(null);
        $('select.sorting_options').change(function(){
            $('.product_list').html('');
            productListObj.fetchNextList();
        });
    };
</script>

