<div class="page_header">About us</div>
<h2>
  Who we are
</h2>
<p>
Jools is the first of its kind and the only platform where jewellery lovers can discover the latest as well as the evergreen jewels by the most renowned and even the soon to be renowned designers from all over the world. Jools not only gives you a unique platform to discover and shop for the jewellery that you desire for but also houses high quality jewels and accessories that are sure to <span style="font-weight: bold;">sweep you off your feet</span>. Think of a ring design in the blue of sapphire or the red of ruby on a platinum love band with diamonds on the side? You can make this happen with just a few clicks. This is just an example of how bespoke our services are. 
</p>

<h2>
  Our Vision
</h2>
<p style="font-style: italic;">
Jewellery like never before
</p>
<p>
Our vision is to democratize the jewellery fashion industry. We feel that everyone should have the freedom to discover, even shape trends and influence purchases and not just settle with a product from a catalog . The team at Jools believes that jewellery shopping is different than anything else. It is one of those things that you wear to celebrate, to feel good, and to be remembered. For such occasions you need inspirations and context before buying.
</p>

<h2>
  Personalized & Chic
</h2>
<p>
Imagination, fulfilled. That's precisely what you can expect at Jools.in. You can customize your exclusive jewellery designs with 7 different gemstones, 3 precious metals available in 3 metal colours.  With our community and in house designers we bring together timeless jewellery that's meticulously crafted with the right blend of age-old mystique and elegant modern touches. Thanks to our great user experience all you have to do is to discover a design and start personalizing it. 
</p>

<h2>
  Affordable & High Quality
</h2>
<p>
All our jewellery is made to order, that means our investment in inventory is low so our costs are low. Unlike other jewellers, we manufacture our own jewellery and source the raw material directly, cutting all middlemen, thus ensuring lowest material cost also. This benefit we pass on to our customers thus offering the best product at the most reasonable prices. All our products go through 7-step quality check procedure before being shipped out.
</p>

<h2>
  People & Culture
</h2>
<p>
We’re a group of smart, fun-loving, passionate folks with relevant experience in jewellery and online consumer industry who are committed to strengthening the vision at Jools. We are also the ambassadors and evangelists for Jools community. We focus on doing a few things well. We have worked on creating scalable systems, driving multi-platform engagement, and delivering great consumer experiences!
</p>

<h2>
  We are here for you
</h2>
<p>
We invite you to try our first of its kind jewellery customization tool, look through our designs, flip through our inspiration board, play the jools games and get in touch with us whenever you want. Call, chat, or email us, we want you to be absolutely delighted with the jewellery you create at Jools. If you’re not, you can return it. You have 30 days. And, if your jewellery doesn’t fit just right, send it back to be re-sized for free.
</p>
<p>
*Jools is a part of Phoenix Jewels Ventures Pvt Ltd.
</p>
