<div class="right" style="padding-right: 15px;">
    <button class="light_pink_button checkout upper">Checkout</button>
</div>
<div class="cantarell_text" style="margin: 15px; font-size: 30px;">
    Shopping Bag
</div>
<div class="bag_header">
    <div class="bag_header_item" style="width: 450px;margin-right: 50px;margin-left: 15px;text-align: left;">
        Product details
    </div>
    <div class="bag_header_item" style="width: 160px;">
        Unit price
    </div>
    <div class="bag_header_item" style="width: 125px;">
        Quantity
    </div>
    <div class="bag_header_item" style="width: 160px;">
        Sub total
    </div>
</div>
<div class="bag_items">
</div>
<div class="bag_footer">
    <button class="light_pink_button checkout upper right">Checkout</button>
    <div class="right upper cantarell_text" style="margin-right: 30px;">
        <div>Free shipping. 30 day returns.</div>
        <div>100% authentic certified jewellery.</div>
    </div>
</div>
<script type="text/javascript">
    var afterInit = function() {
        cartObj.showItemList(true, null);
    };
</script>
    
