<div style="margin-top: 30px; text-align: center;">
    <div class="page_header">
        Earn cash credits!
    </div>
    <div class="sub_header">
        You can redeem these credits for jewellery when we launch
    </div>
</div>
<div id="earn_cash_bar_wrapper">
    <div class="left progress_text">
    </div>
    <div class="access_levels_progress_bg" style='height: 20px; float: right; width: 61%;'>
        <div class="possible_progress_text"></div>
        <div class="access_levels_progress" 
             style="height: 20px;position: relative;top:-20px;background:rgba(255, 125, 132 ,0.5)">
        </div>
    </div>
</div>
<div style="background: rgba(139,210,206,0.3); color: #333; padding-bottom: 60px; text-align: center; margin-bottom: 20px;">
    <div style="font-size: 40px; padding: 20px 0; margin-bottom: 20px;" class="goudy_text">
        Here's how it works
    </div>
    <div style="width: 650px; margin: auto; height: 220px;">
        <div class='outside_circle'>
            <div class='blue_circle'></div>
            <div class='inside_circle'>
                <div class='inner_circle_heading'>
                    1
                </div>
                <div class='inner_circle_text'>
                    Invite a friend to Jools
                </div>
            </div>
        </div>
        <div class='outside_circle'>
            <div class='blue_circle'></div>
            <div class='inside_circle'>
                <div class='inner_circle_heading'>
                    2
                </div>
                <div class='inner_circle_text'>
                    Your friend signs up
                </div>
            </div>
        </div>
        <div class='outside_circle' style='margin-right: 0;'>
            <div class='blue_circle'></div>
            <div class='inside_circle'>
                <div class='inner_circle_heading'>
                    3
                </div>
                <div class='inner_circle_text'>
                    You both get cash credits
                </div>
            </div>
        </div>
    </div> 
    <div id='send_invites_section'>
        <div id="invite_friends" class="goudy_text">
            Invite friends now!
        </div>
        <div style="margin-top: 15px; margin-bottom: 40px; text-align: center; font-size: 20px;">
            Simply click one of the buttons below to select friends to invite.
        </div>
        <div style="text-align: center;">
            <img src="{{.Config.STATIC_URL}}/images/icons/facebook_invite.png" 
                 class="fb_invite_friends" style="margin-right: 20px;">
            <img src="{{.Config.STATIC_URL}}/images/icons/gmail_invite.png" 
                 class="gmail_invite_friends" style="margin-right: 20px;">
            <img src="{{.Config.STATIC_URL}}/images/icons/yahoo_invite.png" 
                 class="yahoo_invite_friends">
        </div>
    </div>
    <!--div style='width: 750px; margin: auto; margin-top: 50px;'>
        <div class="referral_count_info">
            <span class='referral_count'>0</span> friends have joined using your invite link
        </div>
        <div class="access_levels_progress_bg">
            <div class="access_levels_progress">       
            </div>
        </div>
        <div class="access_level_indicators">     
            <div class="access_level_arrow">    
            </div>
            <div class="access_level_arrow">    
            </div>
            <div class="access_level_arrow">    
            </div>
            <div class="access_level_arrow">    
            </div>
            <div class="access_level_arrow">    
            </div>
        </div>
        <div style='height: 30px;'>
            <div class='left' style="margin-right: 50px;">
                Credits earned
            </div>
            <div class='left credit_earned'>
                <span class="WebRupee">Rs.</span>500
            </div>
            <div class='left credit_earned'>
                <span class="WebRupee">Rs.</span>1000
            </div>
            <div class='left credit_earned'>
                <span class="WebRupee">Rs.</span>1500
            </div>
            <div class='left credit_earned'>
                <span class="WebRupee">Rs.</span>2500
            </div>
            <div class='left credit_earned'>
                <span class="WebRupee">Rs.</span>5000
            </div>
        </div>
        <div style='height: 30px; margin-bottom: 20px;'>
            <div class='left' style="margin-right: 50px;">
                Friends joining
            </div>
            <div class='left friends_joined'>
                <span style="position: relative; top: -3px;left:4px;">0</span> 
                <img src="{{.Config.STATIC_URL}}/images/icons/friend.png" height="18">
            </div>
            <div class='left friends_joined'>
                <span style="position: relative; top: -3px;left:4px;">3</span>
                <img src="{{.Config.STATIC_URL}}/images/icons/friend.png" height="18">
            </div>
            <div class='left friends_joined'>
                <span style="position: relative; top: -3px;left:4px;">5</span>
                <img src="{{.Config.STATIC_URL}}/images/icons/friend.png" height="18">
            </div>
            <div class='left friends_joined'>
                <span style="position: relative; top: -3px;left:4px;">10</span>
                <img src="{{.Config.STATIC_URL}}/images/icons/friend.png" height="18">
            </div>
            <div class='left friends_joined'>
                <span style="position: relative; top: -3px;left:4px;">20</span>
                <img src="{{.Config.STATIC_URL}}/images/icons/friend.png" height="18">
            </div>
        </div>
    </div-->
</div>
<div style="margin-bottom: 30px; text-align: center;">
    <div class="page_header">
        Explore Jools
    </div>
    <div class="sub_header">
        Lots of fun, gifts & giveaways in store for you!
    </div>
</div>
<div id="cross_promo_region">
    <div class="cross_promo win_pendant">
        <img src="{{.Config.STATIC_URL}}/images/home_win_pendant.jpg" alt="Win this pendant"
             width="318">
        <div class="cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Win this pendant
            </div>
            <div class="lucida_text cross_promo_desc">
                Play our fun guessing game 
                <div>& win this diamond pendant!</div>
            </div>
            <button class="win_pendant_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Guess
            </button>
        </div>
    </div>
    <div class="cross_promo hot_trends">
        <img src="{{.Config.STATIC_URL}}/images/home_hottest_trends.jpg" alt="Hottest trends"
             width="318">
        <div class="cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Discover stunning jewels
            </div>
            <div class="lucida_text cross_promo_desc">
                Find & share 
                <div>stunning jewellery</div>
            </div>
            <button class="hot_trends_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Discover
            </button>
        </div>
    </div>
    <div class="cross_promo play_hot">
        <img src="{{.Config.STATIC_URL}}/images/home_hot_not.jpg" alt="Hot or not"
             width="318">
        <div class="hp_cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Test your style quotient
            </div>
            <div class="lucida_text cross_promo_desc">
                Rate jewellery images 
                <div>& unlock mystery gifts</div>
            </div>
            <button class="play_hot_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Play
            </button>
        </div>
    </div>
    <div class="cross_promo earn_cash">
        <img src="{{.Config.STATIC_URL}}/images/home_gift_500.jpg" alt="Gift 500,Get 500"
             width="318">
        <div class="cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Gift <span class="lucida_text">500</span>, Get <span class="lucida_text">500</span>!
            </div>
            <div class="lucida_text cross_promo_desc">
                Gift your friends <span class="WebRupee">Rs.</span>500 & 
                <div>earn up to <span class="WebRupee">Rs.</span>5000 in cash credits</div>
            </div>
            <button class="earn_cash_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Gift
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
window.onload = function() {
     var referralCount = userObj.getReferralCount();
     $('.referral_count').text(referralCount);
     $('.progress_text').html('You\'ve earned <span class="WebRupee">Rs.</span>' + inviteTierObj.getCashEarned() 
             + " in cash so far.");
     $('.possible_progress_text').html('Invite friends to earn up to <span class="WebRupee">Rs.</span>5000!');
};
</script>
