<div class="page_header">Privacy Policy</div>
<p>
We value the trust you place in Jools.in. That's why we insist upon the highest standards for secure transactions and customer information privacy. Note: Our privacy policy is subject to change at any time without notice.
</p>
<h2>
Collection of Personally Identifiable Information
</h2>
<p>
We collect personally identifiable information (email address, name, phone number, etc.) from you when you set up a free account with Jools.in. While you can browse some sections of our site without being a registered member, certain activities (such as placing an order) do require registration. 
</p>
<h2>
Use of Demographic and Profile Data
</h2>
<p>
We use personal information to provide the services you request. We use your personal information to troubleshoot problems; collect fees owed; measure interest in our products and services, inform you about online and offline offers and customize your experience. In our efforts to continually improve our product and service offerings, we collect and analyze demographic and profile data about our users' activity on our website. We identify and use your IP address to help diagnose problems with our server, and to administer our website. 
</p>
<h2>
Cookies
</h2>
<p>
A "cookie" is a small piece of information stored by a Web server on a Web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. jools.in places both permanent and temporary cookies in your computer's hard drive. Jools.in's cookies do not contain any of your personally identifiable information. You may choose to disable the cookies using the settings in your computer system. However, if you do so, you may not be able to use the full functionality of the site. 
</p>
<h2>
Security Precautions
</h2>
<p>
Our site has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines in compliance with the Information Technology Act, 2000, protecting it against unauthorized access.
</p>
<h2>
Choice/Opt-Out
</h2>
<p>Jools.in provides all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from us on behalf of our partners, and from us in general, after setting up an account. 
</p>
<h2>
Contact our privacy department?
</h2>
<p>
Should you have any discrepancies or grievances or questions regarding this statement or with respect to personal identifiable information provided by you, please contact our grievance officer at the following address:support@jools.in
</p>
