<div class="page_header">Shipping & returns policy</div>

<h2>
  30 day return policy
</h2>
<p>
Our 30-day No Questions asked Return Policy gives you time to make sure your purchase is perfect. If you need to return it for any reason, we'll happily provide you with a full refund or exchange, within 30 days of the date. Yes, It's that simple. We can only accept the product without custom engraving, in its original condition and with the certification. Will you withhold some shipping charges when I return the product within 30 days? No. When we said, we'll return the money you paid in full, we meant it.
Gemstones should only change hands when accompanied by a certificate attesting to quality. Regardless of location or marketplace, an authentic Laboratory Report is the common language of trust and confidence in the gemological world, and should be considered an essential part of any transaction. We take this responsibility very seriously.
</p>

<h2>
  Will I have to pay for shipping the product back to you?
</h2>
<p>
We offer FREE Return Shipping. You'll receive complimentary return shipping on all resizings, exchanges, or refunds for all products within the 30-day return policy.
</p>

<h2>
  How do I return the product to Jools within 30 days?
</h2>
<p>
1. Call our customer delight team and you will be given a Return Authorization Code, once you let us know the item you would like to return along with your Order No.
</p>
<p>
2. We will courier you a Jools tamper proof package with the Return Authorization code, your Name and address on the outside return area and a unique serial number pre-printed.
</p>
<p>
3. Secure your jewellery with the original packing materials and certificate in the tamper proof package provided by Jools. Note that once the package is sealed, it cannot be opened unless destroyed.
</p>
<p>
4. Once your package is ready, just call our customer delight team and we will send a courier to pick it up from you.
</p>
<p>
5. Once your returned item is received by Jools, your refund or new item will be processed shortly.
</p>

<h2>
  100% Refund
</h2>
<p>
Our 30-day No Questions asked Return Policy gives you time to make sure your purchase is perfect. If you need to return it for any reason, we'll happily provide you with a 100% full refund or exchange and we will also pay for the shipping to and fro.
</p>

<h2>
  Free Returns
</h2>
<p>
We offer FREE Return Shipping. You'll receive complimentary return shipping on all resizing, exchanges, or refunds for all products within the 30-day return policy. If you prefer just call our customer delight team and we will send a courier over to pick it up from you.
</p>

<h2>
  Lifetime exchange policy
</h2>
<p>
Jools offers a Lifetime Exchange Policy.
We offer a Lifetime Exchange Policy on all purchases made from Jools, within India. If the product, along with diamonds and gemstones, if any, is intact, you may return it for the current value of all the materials with a minor deduction towards melting and recovery costs.
This means that your product's price and specifications will be compared against the current price and specifications listed on the website to calculate the current value of gold, diamonds and other gemstones for your product. We will deduct 10% of this amount, subject to a minimum of Rs. 1,000. This will be done on a per product basis, incase you are returning multiple products. You will be given a voucher for this value which remains valid for 12 months and can be used to purchase anything from Jools. Please note that this voucher cannot be encashed.
Currently we offer the Lifetime Exchange Policy on orders within India only.
</p>

<h2>
  Free Shipping
</h2>
<p>
  Jools provides free delivery/shipping on all items within India. Shipping time is 24-48hrs for "Available in Stock" items and 10 business days for "Make to Order" items.
</p>

<h2>
  Transit Insurance
</h2>
<p>
  All goods will be fully insured by Jools until they reach you, so your purchase is 100% safe.
</p>

<h2>
  Customer Delight
</h2>
<p>
  Need help? Think we could have done something better?
  We are listening and happy to do what we can to improve. Please let us know.
  We can be reached at {{.Config.EMAIL_CONTACT}} or at {{.Config.MOBILE_CONTACT}} between 8am-12 midnight, 7 days a week.
</p>
<p>
  Our registered office address is:
  {{.Config.COMPANY_ADDRESS}}
</p>
