<div style="margin: 30px 0; text-align: center;">
    <div class="page_header">
        Win a diamond pendant
    </div>
    <div class="sub_header contest contest_price_guess_0">
        Guess the price to make this pendant yours!
    </div>
    <div class="sub_header contest contest_price_guess_1 contest_price_guess_2">
        Complete the following tasks to qualify for the contest.
    </div>
    <div class="sub_header contest contest_price_guess_3">
        Congratulations! You have qualified!
    </div>
</div>
<div id="guessing_contest">
    <div style="margin: auto; text-align: left; margin-bottom: 50px; height: 370px; background: rgba(139,210,206,0.3);">
        <div class='left' style='margin-top:10px; margin-right: 40px; margin-left: 10px;'>
            <img src='{{.Config.STATIC_URL}}/images/pendant_v2.png' alt=''
                 height='300'>
        </div>
        <div class="contest contest_price_guess_0">
            <div class="goudy_text" style="font-size: 30px; margin-bottom: 20px; padding-top: 40px;">
                Guess the price of this pendant!
            </div>
            <div style="font-size: 18px; color: #333;">
                Our introductory infinity pendant with 
            </div>
            <div style="font-size: 18px; color: #333;">
                diamonds studded in 14 carat yellow gold.
            </div>
            <div style='margin-top: 20px; margin-bottom: 10px;'>
                <input id="guessed_pendant_price" type="text" 
                       style="width:200px;"
                       placeholder='Enter Price'>
                <button id="submit_pendant_price" class="light_pink_button">
                    Submit price
                </button>
            </div>
        </div>
        <div class="contest contest_price_guess_1">
            <div style="font-size: 30px; margin-bottom: 5px; padding-top: 40px;">
                <span class="goudy_text contest contest_price_guess_1 contest_price_guess_2">
                    You're almost there!
                </span>
                <span class="contest contest_price_guess_3">
                    Stay tuned for the results.
                </span>
            </div>
            <div style="font-size: 18px; color: #333; margin-bottom: 20px;">
                <span class="contest contest_price_guess_1 contest_price_guess_2">
                    Complete the following tasks to qualify for the contest.
                </span>
            </div>
            <div style="height: 60px; margin-right: 30px; line-height: 40px;">
                <div class='light_blue_circle left'></div>
                <div class='left' style="position: relative; float: left; top: -1px; left: -26px;">
                    <div style="font-size: 18px; color: white;">
                        1
                    </div>
                </div>
                <div style="font-size: 18px;">
                    Connect with Facebook
                    <img src="{{.Config.STATIC_URL}}/images/icons/connect_fb.png"
                         style="cursor: pointer;" width='200' 
                         class="contest contest_not_connected connect_to_fb right">
                    <img src="{{.Config.STATIC_URL}}/images/icons/green_check.png"
                         style="margin-bottom: 10px; margin-right: 90px;" width='40' 
                         class="contest contest_connected right">
                </div>
            </div>
            <div style="height: 60px; margin-right: 30px; line-height: 40px;">
                <div class='light_blue_circle left'></div>
                <div class='left' style="position: relative; float: left; top: -1px; left: -26px;">
                    <div style="font-size: 18px; color: white;">
                        2
                    </div>
                </div>
                <div style="font-size: 18px;">
                    Like our Facebook page
                    <div class="fb-like right contest contest_not_liked" 
                         style="margin-right: 80px; width: 50px; overflow: hidden;"
                         data-href="{{.Config.FB_PAGE}}" data-layout="button" 
                         data-action="like" data-show-faces="false" data-share="false"></div>
                    <img src="{{.Config.STATIC_URL}}/images/icons/green_check.png"
                         style="margin-bottom: 10px; margin-right: 90px;" width='40' 
                         class="contest contest_liked right">
                </div>
            </div>
            <div style="height: 60px; margin-right: 30px; line-height: 40px;">
                <div class='light_blue_circle left'></div>
                <div class='left' style="position: relative; float: left; top: -1px; left: -26px;">
                    <div style="font-size: 18px; color: white;">
                        3
                    </div>
                </div>
                <div style="font-size: 18px;">
                    Refer 3 friends to Jools
                    <img src="{{.Config.STATIC_URL}}/images/icons/facebook_invite.png" 
                         class="fb_invite_friends contest contest_not_referred right">
                    <img src="{{.Config.STATIC_URL}}/images/icons/green_check.png"
                         style="margin-bottom: 10px; margin-right: 90px;" width='40' 
                         class="contest contest_referred right">
                </div>
            </div>
        </div>
        <div style="font-size: 16px; letter-spacing: 2px; margin-bottom: 10px;">
            Winners will be announced on 31st March, 2014.
        </div>
    </div>
</div>
<div style="margin-bottom: 30px; text-align: center;">
    <div class="page_header">
        Explore Jools
    </div>
    <div class="sub_header">
        Lots of fun, gifts & giveaways in store for you!
    </div>
</div>
<div id="cross_promo_region">
    <div class="cross_promo win_pendant">
        <img src="{{.Config.STATIC_URL}}/images/home_win_pendant.jpg" alt="Win this pendant"
             width="318">
        <div class="cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Win this pendant
            </div>
            <div class="lucida_text cross_promo_desc">
                Play our fun guessing game 
                <div>& win this diamond pendant!</div>
            </div>
            <button class="win_pendant_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Guess
            </button>
        </div>
    </div>
    <div class="cross_promo hot_trends">
        <img src="{{.Config.STATIC_URL}}/images/home_hottest_trends.jpg" alt="Hottest trends"
             width="318">
        <div class="cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Discover stunning jewels
            </div>
            <div class="lucida_text cross_promo_desc">
                Find & share 
                <div>stunning jewellery</div>
            </div>
            <button class="hot_trends_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Discover
            </button>
        </div>
    </div>
    <div class="cross_promo play_hot">
        <img src="{{.Config.STATIC_URL}}/images/home_hot_not.jpg" alt="Hot or not"
             width="318">
        <div class="hp_cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Test your style quotient
            </div>
            <div class="lucida_text cross_promo_desc">
                Rate jewellery images 
                <div>& unlock mystery gifts</div>
            </div>
            <button class="play_hot_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Play
            </button>
        </div>
    </div>
    <div class="cross_promo earn_cash">
        <img src="{{.Config.STATIC_URL}}/images/home_gift_500.jpg" alt="Gift 500,Get 500"
             width="318">
        <div class="cross_promo_wrapper">
            <div class="goudy_text cross_promo_head">
                Gift <span class="lucida_text">500</span>, Get <span class="lucida_text">500</span>!
            </div>
            <div class="lucida_text cross_promo_desc">
                Gift your friends <span class="WebRupee">Rs.</span>500 & 
                <div>earn up to <span class="WebRupee">Rs.</span>5000 in cash credits</div>
            </div>
            <button class="earn_cash_link light_blue_button" data-src="page_xpromo"
                    data-medium="{{.Data.trackingName}}" style="width: 120px;">
                Gift
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
window.onload = function() {
    $('#submit_pendant_price').click(function() {
        contestObj.submitPrice();
    });
};
</script>
